<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <p>Hello my name is <%= name %></p>
    <p>age = <%= age %></p>

  </body>
</html>
